* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(212, 212, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  align-items: center;
}

header {
  text-align: center;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
header h1 {
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding-top: 10px;
  color: blue;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 500px;
  perspective: 1000px;
}
.container .card {
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  margin: 10px;
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transition: transform 0.4s linear;
}
.container .card.show {
  transform: rotateY(0deg);
}
.container .card .front, .container .card .back {
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.container .card .front i, .container .card .back i {
  font-size: 35px;
}
.container .card .back {
  transform: rotateY(180deg);
  background: rgb(27, 27, 250);
}
.container .card .back .fa-trophy {
  color: yellow;
  font-size: 38px;
}
.container .card .front {
  transform: rotateY(0);
  box-shadow: 0 0 10px blue;
  background: #fff;
  border: 2px solid blue;
}
.container .card .front .fa-book {
  color: brown;
  text-shadow: 2px 2px 2px gold;
}
.container .card .front .fa-key {
  color: yellow;
  text-shadow: 2px 2px 2px #000;
}
.container .card .front .fa-money {
  text-shadow: 2px 2px 2px yellow;
  color: green;
}
.container .card .front .fa-star {
  text-shadow: 2px 2px 2px rgb(148, 109, 12);
  color: yellow;
}
.container .card .front .fa-music {
  color: violet;
  text-shadow: 2px 2px 2px #000;
}
.container .card .front .fa-cog {
  color: gray;
  text-shadow: 2px 2px 2px #000;
}
.container .card .front .fa-phone {
  text-shadow: 2px 2px 2px #000;
  color: rgb(10, 187, 10);
}
.container .card .front .fa-search {
  color: rgb(20, 20, 245);
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.815);
}/*# sourceMappingURL=style.css.map */